@media screen and (max-width:600px){
    .navbar>ul{
        display: none;
    }
    .paracontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .lasttxt{
        flex-direction: column;
        align-items: center;

    }
    .lasttxt >div{
        margin: 1rem 0px;
    }

    /* ==============About section=========== */
    .main1{
        flex-direction: column;
    }
    .main1txt{
        width: 80%;
    }
    .main1card{
        width: 80%;
        height: 16rem;
    }
    .cardinsidemain1card{
        width: 80%;
    }
}